
.intro-card {
    border: 2px solid #007bff;
    text-align: center;
    padding: 2% 25%;
}

.intro-card-title {
    font-size: 3rem; 
    font-weight: bold;
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.intro-card-text {
    font-size: 1.5rem;
    font-style: italic;
}

.container--bordered {
    border: 2px solid #007bff; /* Blue border with 2px thickness */
    border-radius: 8px; /* Optional: rounded corners */
    padding: 15px; /* Optional: padding inside the container */
}


h1 {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}